// standard color
$first-color: #397780;
$second-color : #cb6598;
$section-main-color: #ccc37a;
$section-secondary-color: #4d3d45;

//standard spaces
$first-space : 20px;

//standard font sizes
$link-font-size : 18px;
$paragraph-font-size : 20px;


//regole generiche

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button, h1, h2, h3, h4, h5, h6, a {
    text-transform: uppercase;
}

p {
    color: #fff;
}

.first-button, .second-button {
    outline: none;
    border: none;
    border-radius: $first-space / 4;
    padding: $first-space / 2  $first-space;
    font-size: $link-font-size;
    color: #fff;
    cursor: pointer;
}

.first-button {
    background-color: $second-color;
    color: #fff;
}

.second-button {
    background-color: #fff;
    color: $second-color;
}

//header
header {
    height: 100px;
    background-color: $first-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $first-space;
}

//header left
.header-left > .img-container {
    height: 54px;
    width: 160px;
}

.header-left > .img-container > img {
    height: 100%;
    width: 100%;
}

//header right
.header-right,
.header-right > .header-menu > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right > .header-menu {
    margin-right: $first-space;
}

.header-right > .header-menu > ul a {
    padding: 0 $first-space;
    font-size: $link-font-size;
    color: #fff;
}


//jumbotron

.jumbo-container {
    text-align: center;
    background-color: $section-secondary-color;
    padding: $first-space * 4 0;
}

.jumbo-container > h1 {
    font-size: 40px;
    color: $section-main-color;
    margin: $first-space 0;
}

.jumbo-container > p {
    font-size: $paragraph-font-size;
    margin: $first-space 0;
}

.jumbo-container > .jumbo-buttons > button {
    margin: $first-space $first-space/2;
}

//using sass
.using-sass-container {
    display: flex;
}

.using-sass-left, .using-sass-right {
    border-top: 10px solid $first-color;
    border-bottom: 10px solid $first-color;
    border-left: 5px solid $first-color;
    border-right: 5px solid $first-color;
    padding: $first-space * 2 $first-space / 2;
}

.using-sass-left {
    background-color: $section-main-color;
}

.using-sass-left > h2 {
    color: $section-secondary-color;
    margin: $first-space 0;
}

.using-sass-right {
    background-color: $section-secondary-color;
}

.using-sass-right > h2 {
    color: $section-main-color;
    margin: $first-space 0;
}

.using-sass-left button,
.using-sass-right button {
    display: block;
    margin: $first-space auto;
}

//last chance
.last-chance-container {
    background-color: $section-main-color;
    padding: $first-space * 2 0;
    text-align: center;
}

.last-chance-container > h2 {
    color: $section-secondary-color;
    margin: $first-space 0;
}

.last-chance-container > p {
    margin: $first-space 0;
}

// footer










//
